version: "3.8"
services:

    server1:
        image: server1
        build:
            context: ./server
            dockerfile: Dockerfile
        container_name: ${SERVER_HOST_1}
        restart: always
        ports:
            - ${SERVER_PORT_1}:${SERVER_PORT_1}
        volumes:
            - ./server:/server
            - server-v-node-modules:/server/node_modules
        environment:
            SERVER_HOST: ${SERVER_HOST_1}
            SERVER_PORT: ${SERVER_PORT_1}
            # PG_HOST: ${PG_HOST} or postgres or localhost
            PG_HOST: host.docker.internal
            PG_PORT: ${PG_PORT}
            PG_USER: ${PG_USER}
            PG_PASSWORD: ${PG_PASSWORD}
            PG_DATABASE: ${PG_DATABASE}
        # depends_on:
        #     - server2
        #     - server3
        # - postgres
    server2:
        image: server2
        build:
            context: ./server
            dockerfile: Dockerfile
        container_name: ${SERVER_HOST_2}
        restart: always
        ports:
            - ${SERVER_PORT_2}:${SERVER_PORT_2}
        volumes:
            - ./server:/server
            - server-v-node-modules:/server/node_modules
        environment:
            SERVER_HOST: ${SERVER_HOST_2}
            SERVER_PORT: ${SERVER_PORT_2}
            PG_HOST: host.docker.internal
            # PG_HOST: ${PG_HOST} or postgres or localhost
            PG_PORT: ${PG_PORT}
            PG_USER: ${PG_USER}
            PG_PASSWORD: ${PG_PASSWORD}
            PG_DATABASE: ${PG_DATABASE}
        # depends_on:
        #     - server1
        #     - server3
        # - postgres
    server3:
        image: server3
        build:
            context: ./server
            dockerfile: Dockerfile
        container_name: ${SERVER_HOST_3}
        restart: always
        ports:
            - ${SERVER_PORT_3}:${SERVER_PORT_3}
        volumes:
            - ./server:/server
            - server-v-node-modules:/server/node_modules
        environment:
            SERVER_HOST: ${SERVER_HOST_3}
            SERVER_PORT: ${SERVER_PORT_3}
            PG_HOST: host.docker.internal
            # PG_HOST: ${PG_HOST} or postgres or localhost
            PG_PORT: ${PG_PORT}
            PG_USER: ${PG_USER}
            PG_PASSWORD: ${PG_PASSWORD}
            PG_DATABASE: ${PG_DATABASE}
        # depends_on:
        #     - server1
        #     - server2
        # - postgres  
    reverse-proxy:
        image: reverse-proxy
        build:
            context: ./reverse-proxy
            dockerfile: Dockerfile
        container_name: ${NGINX_HOST}
        restart: always
        env_file: .env
        ports:
            - ${NGINX_PORT}:${NGINX_PORT}
        volumes:
            - ./reverse-proxy/default.conf.template:/etc/nginx/templates/default.conf.template
        depends_on:
            - server1
            - server2
            - server3
    # PostgreSQL Database
    # postgres:
    #     image: postgres:15-alpine
    #     container_name: postgres
    #     restart: always
    #     environment:
    #         POSTGRES_DB: ${PG_DATABASE}
    #         POSTGRES_USER: ${PG_USER}
    #         POSTGRES_PASSWORD: ${PG_PASSWORD}
    #     ports:
    #         - ${PG_PORT}:${PG_PORT}
    #     volumes:
    #         - postgres-data:/var/lib/postgresql/data
    #         - ./server/db/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
volumes:
    server-v-node-modules:
        name: "server-v-node-modules"
    # postgres-data:
    #     name: "postgres-data"