---
# Build and Distribute Docker Images for K3s Cluster
# This playbook automates the build-export-import cycle for local development

- name: Build Server Image on Control Plane
  hosts: k3s_control
  become: true
  tasks:
    - name: Ensure Docker is installed
      package:
        name: docker.io
        state: present

    - name: Build Docker image from source
      command: docker build -t server:latest /vagrant/server
      args:
        chdir: /vagrant/server
      # Force rebuild to pick up changes
      # changed_when: true 

    - name: Save Docker image to tarball
      command: docker save server:latest -o /vagrant/server-image.tar
      args:
        creates: /vagrant/server-image.tar # Remove this line if you want to force overwrite on every run

- name: Import Image on All Nodes
  hosts: k3s_nodes
  become: true
  serial: 1 # Run one at a time to avoid disk I/O contention
  tasks:
    - name: Import image into K3s (containerd)
      command: k3s ctr images import /vagrant/server-image.tar
      register: import_result
      changed_when: "'unpacking' in import_result.stdout"



