apiVersion: v1
kind: Service
metadata:
  name: server3-service
  namespace: loadbalancer
  labels:
    app: server3
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: server3


