apiVersion: v1
kind: Service
metadata:
  name: server1-service
  namespace: loadbalancer
  labels:
    app: server1
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: server1


