apiVersion: v1
kind: Service
metadata:
  name: server2-service
  namespace: loadbalancer
  labels:
    app: server2
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: server2


